<nav class=" fixed-top navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand text-uppercase fw-bold" href="/">Host Tambola</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about"><i class="fas fa-info-circle me-2"></i>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services"><i class="fas fa-cogs me-2"></i>Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/legit"><i class="fas fa-certificate me-2"></i>Check
                        Legitimacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact"><i class="fas fa-envelope me-2"></i>Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>